.header {
  background-color: rgb(185, 169, 222);
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 24px;
}

.nav {
  display: flex;
  gap: 8px;
  align-items: baseline;
  justify-content: center;
}
